#compsNavHome {
    height: 100%;
    min-width: 30px;

    display: flex;

    background-color: rgb(103, 62, 199);
}

#compsNavHome:hover {
    background-color: rgb(30, 32, 129);
}
#compsNavHome:focus {
    background-color: rgb(60, 30, 129);
}