#showPostComps {
    height: 200px;
    width: 400px;
    
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 114, 187);
    border: 3px double black;

}

#show-UserName {
    /* position: relative;
    top: 0;
    left: 0; */
}

#div-img {
    width: 100%;
    height: 25%;
    /* overflow: hidden; */
}

#imgToPost {
    width: 100%;
    width: 100%;
    object-fit: cover;
   
}


#Bar {
    display: flex;
    justify-content: space-around;
}

#BarLike {
    display: flex;
}

#BarDetails {
    display: flex;
}
#btnToLike{
    width: 40px;
    height: 40px;
    background-color: rgb(75, 114, 187);
}

#descriptionDiv{
    border-top: 1px solid black;
    background-color: white;
}